@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter";
}

.padding-horizontal-default {
  padding-left: 14vw;
  padding-right: 14vw;
}

.padding-horizontal-default-left {
  padding-left: 14vw;
  padding-right: 9vw;
}

.padding-horizontal-empty-left {
  padding-left: 14vw;
}

.padding-horizontal-empty-right {
  padding-right: 14vw;
}

.bg-red-theme {
  background-color: #a6282d;
}

.bg-dark-theme {
  background-color: #0F131C;
}

.bg-blue-theme {
  background-color: #052439;
}

.text-red-theme {
  color: #a6282d;
}

.text-blue-theme {
  color: #052439;
}

.hero-text {
  font-size: 8rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.0045625em;
  margin-left: -0.7rem;
}

.hero-text-small {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.045625em;
  margin-left: -0.7rem;
}

.hero-text-med {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.045625em;
  margin-left: -0.7rem;
}

.title-text {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.015625em;
}

.title-text-sub {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.015625em;
}

.title-text-sub1 {
  font-size: 1.1rem;
  letter-spacing: -0.015625em;
}

.font-w-600 {
  font-weight: 500;
}

.text-s-3 {
  font-size: 3rem;
}

.text-m-3 {
  font-size: 1.5rem;
}

.text-l {
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.2;
}

.text-small{
  font-size: 0.9rem;
}